@import "~bootstrap/scss/bootstrap";

// body {
//     // background-image: url("../img/");
// }
header {
    background-color: #fff;
    .content-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 6rem;
        max-width: 1000px;
        margin: auto;
        img {
            width: 50%;
        }
    }
}

.list-header-link {
    display: flex;
    li {
        list-style: none;
        padding-inline: 0.6rem;
        a {
            text-decoration: none;
            color: black;
        }
    }
}
